* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  color: #fff;
}
body .player {
  width: 80%;
  max-width: 550px;
  position: relative;
  overflow: hidden;
}
body .player video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .player .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% - 6px));
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  transition: transform 0.5s;
}
body .player .controls .progress {
  width: 100%;
  height: 6px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
body .player .controls .progress .bar {
  height: 100%;
  background: #dc143c;
  position: relative;
}
body .player .controls .progress .bar .circle {
  width: 16px;
  height: 16px;
  background: #dc143c;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-25%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}
body .player .controls .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
body .player .controls .buttons .menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .player .controls .buttons .menu button {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 6px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  background: #dc143c;
  color: #fff;
  cursor: pointer;
  padding-left: 2px;
}
body .player .controls .buttons .menu .rate {
  font-size: 90%;
  cursor: pointer;
}
body .player .controls .buttons .menu input[type=range] {
  width: 100px;
  height: 6px;
  background: #fff;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  cursor: pointer;
}
body .player .controls .buttons .menu input[type=range]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
}
body .player .controls .buttons .menu .time {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 90%;
}
body .player:hover .controls {
  transform: translateY(0);
}
body .player:hover .controls .progress .bar .circle {
  opacity: 1;
}