* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .star-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    .stars .fa-star {
      cursor: pointer;
      transition: all 0.3s;
      &.active {
        color: yellow;
      }
    }
    .print {
      width: 150px;
      text-align: center;
      color: #fff;
    }
  }
}
