body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  .character {
    width: 100px;
    height: 100px;
    background: url("./img/character.png") center/contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
}
