// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

// common
html {
  font-size: 16px;
}
// body {
//   overflow-x: hidden;
// }

// variable
$item-color: #639;
$bg-color: #fff;

#btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  background: $item-color;
  color: $bg-color;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s;
  &.active {
    transform: translateX(-115px);
  }
}
#nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 2rem;
  background: $item-color;
  color: $bg-color;
  transform: translateX(100%);
  transition: transform 0.3s;
  li {
    padding: 1rem 0;
  }
  &.active {
    transform: translateX(0);
  }
}
