* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
body .container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
body .container h1 {
  text-align: center;
}
body .container form input[type=text] {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}
body .container form input[type=submit] {
  padding: 10px 26px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
body .container .todos .todo {
  margin: 16px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .container .todos .todo .todoContent {
  flex: 1;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-right: 10px;
  text-align: center;
}
body .container .todos .todo .todoContent.completed {
  text-decoration: line-through;
  color: #8f8f8f;
  opacity: 0.5;
  transition: opacity 0.3s;
}
body .container .todos .todo button {
  font-size: 16px;
  margin-right: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}