* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://i.namu.wiki/i/7Ml4qvhlNRl9hX3DRqHC7g_j-6voMFeXYaRKuCiR3cMXJP7KuFEA6kf0BEneLu99vYeLiFbeTTCleaV-1yux5A.webp") center/cover no-repeat;
}
body .notice {
  text-align: center;
  color: crimson;
  background: #fff;
  padding: 20px;
  border: 4px solid crimson;
  border-radius: 8px;
  font: normal 14px/1.4 "arial";
  display: none;
}
body .container {
  width: 300px;
  height: 200px;
  background: rgba(255, 255, 255, 0.8);
  color: #4682b4;
  padding: 16px;
  border: 4px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .current-weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .container .current-weather img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
body .container .current-weather .temp {
  font: bold 20px/1 "arial";
}
body .container .current-weather .info {
  display: flex;
  align-items: center;
  gap: 20px;
}