* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  color: #222;
  font: 400 1.4rem/1 "Pretendard-Regular";
}

.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8d0d5;
}
.background .outerbox {
  width: 808px;
  height: 544px;
  background: url("./img/outerbox.png") center/cover no-repeat;
  position: relative;
}
.background .outerbox main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.background .outerbox main .homepage_profile {
  width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px;
}
.background .outerbox main .homepage_profile .visitors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "NeoDunggeunmo";
}
.background .outerbox main .homepage_profile .visitors .accent {
  color: #dc143c;
}
.background .outerbox main .homepage_profile article {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #808080;
  border-radius: 20px;
}
.background .outerbox main .homepage_profile article .profile_img {
  width: 100%;
  height: 180px;
  margin: 0 auto;
  padding: 20px;
}
.background .outerbox main .homepage_profile article .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background .outerbox main .homepage_profile article .profile_feeling {
  width: 80%;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid #adadad;
  border-radius: 5px;
  cursor: default;
}
.background .outerbox main .homepage_profile article .profile_feeling em {
  font-family: "NeoDunggeunmo";
  font-style: normal;
  color: #55b2d4;
}
.background .outerbox main .homepage_profile article .profile_info {
  width: 100%;
  padding: 20px 10px;
}
.background .outerbox main .homepage_profile article .profile_info li {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 6px auto;
}
.background .outerbox main .homepage_profile article .profile_info li i {
  width: 22px;
  font-size: 1.6rem;
  color: #55b2d4;
}
.background .outerbox main .homepage_profile article .profile_info li span {
  font-family: "NeoDunggeunmo";
}
.background .outerbox main .homepage_profile article .profile_feel {
  width: 100%;
  text-align: center;
}
.background .outerbox main .homepage_profile article .profile_feel h4 {
  margin-bottom: 10px;
}
.background .outerbox main .homepage_profile article .profile_feel form select {
  width: 50%;
  text-align: center;
  padding: 4px 0;
  border: 1px solid #adadad;
  border-radius: 5px;
}
.background .outerbox main .homepage_profile article .profile_feel form select:focus {
  outline: none;
}
.background .outerbox main .homepage_content {
  width: 534px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.background .outerbox main .homepage_content .content_header {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .outerbox main .homepage_content .content_header b {
  font-family: "NeoDunggeunmo";
  letter-spacing: 1px;
  color: #55b2d4;
}
.background .outerbox main .homepage_content .content_body {
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 20px;
  overflow: hidden;
}
.background .outerbox main .homepage_content .content_body iframe {
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
  background: #fff;
}
.background .outerbox main .navigation {
  position: absolute;
  top: 15%;
  right: 4.8%;
  transform: translateX(100%);
}
.background .outerbox main .navigation li {
  width: 75px;
  height: 33px;
  margin: 4px 0;
  text-align: center;
  background: #55b2d4;
  color: #fff;
  border: 1px solid #808080;
  border-left: none;
  border-radius: 0 5px 5px 0;
  line-height: 31px;
  cursor: pointer;
}
.background .outerbox main .navigation li.active {
  background: #fff;
  color: #222;
}