/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* variable */
:root {
  --main-color: #e6002d;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  .logo {
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 1;
  }
  .tab_menu {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    li {
      a {
        color: #fff;
        transition: all 0.3s;
      }
      &.active {
        a {
          color: var(--main-color);
        }
      }
    }
  }
  .tab_contents {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .contents_wrap {
      display: flex;
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s;
      .content {
        width: calc(100% / 4);
        height: 100%;
        position: relative;
        .content_desc {
          position: absolute;
          top: -10%;
          left: 10%;
          transition: all 0.5s;
        }
        &.active {
          .content_desc {
            top: 20%;
            transition-delay: 0.3s;
          }
        }
      }
    }
  }
}
